@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme('colors.gray900');
  color: theme('colors.white');
  font-family: var(--font-dmSans);
}

body::-webkit-scrollbar { 
  width: 8px; 
}
body::-webkit-scrollbar-track{ 
  background: theme('colors.gray.500'); 
}
body::-webkit-scrollbar-thumb{
  background-color: theme('colors.red500');
  border-radius: 20px;
} 
    